.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width:150px;
}
.nav-items{
    font-size: 24px;
}
.nav-items > ul{
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.res-logo{
    width: 100%
}
.res-Container{
    display: flex;
    flex-wrap: wrap;
    
}
.res-card{
    margin: 5px;
    padding:5px;
    width:170px;
    /* height: 300px; */
    background-color: #f0f0f0;
}
.res-card:hover{
    border:1px solid black;
    cursor: pointer;
}
.search{
    padding: 10px;
}
.filter-btn{
    margin:5px
}